* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

.main-game {
  margin: 5%;
  display: flex;
  flex-flow: column nowrap;
}

.board-row-1,
.board-row-2,
.board-row-3 {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  color: white;
  font-size: 28px;
  min-width: 100px;
  text-align: center;
  padding: 25px;
  margin: 1px;
  border: 1px solid black;
}

.main-game-information {
  margin-top: 10px;
  font-size: 28px;
}

.information-restart button {
  margin-top: 10px;
  font-size: 28px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.information-restart button:hover {
  cursor: pointer;
  background: #dadada;
}

.disableSelection {
  user-select: none;
}

@keyframes winning_line {
  100% {
    background: green;
    opacity: 0.3;
  }
}
